/* PURPLE: #FFF */
/* PURPLE SHADOW: rgba(255,255,255,1) */
.bg{
	top:0;
	left:0;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-position:center center;
	backgrouund-size:cover;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro Md';
    src: url('fonts/NHaasGroteskTXPro-65Md.woff2') format('woff2'),
        url('fonts/NHaasGroteskTXPro-65Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: url('fonts/NHaasGroteskTXPro-75Bd.woff2') format('woff2'),
        url('fonts/NHaasGroteskTXPro-75Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NeueHaasGroteskText light';
    src: 
        url('fonts/NHaasGroteskDSPro-35XLt.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Roman';
    src: url('fonts/NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
        url('fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* TYPE SIZES */
/*
	100px
	72px
	54px
*/
/* global margin: 100px
   button margin top: 50px; 
   text half-block margin: 0 50px;
   block margin: 50px;
*/
@-webkit-keyframes walk {
  0%   { right:-20vw;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-20vw;transform:scaleX(1); }
}
@-moz-keyframes walk {
  0%   { right:-20vw;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-20vw;transform:scaleX(1); }
}
@-o-keyframes walk {
    0%   { right:-20vw;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-20vw;transform:scaleX(1); }
}
@keyframes walk {
  0%   { right:-20vw;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-20vw;transform:scaleX(1); }
}

.animals img{
	height: 6vw;
	display: inline-block;
	z-index: 1;
	pointer-events: none;
	width: auto;
	position: absolute;
	bottom:0;
	right: -20vw;
}
.active .animals img:first-child{
	animation: walk 30s linear 10s 0.5;
}
.active .animals img:last-child{
	height:11vw;
	animation: walk 30s linear 0s 0.5;
}

body{
	position: relative;
	margin:0;
	letter-spacing: 0.06em;
	line-height: 1.2;
	font-family: 'NeueHaasGroteskText Roman', sans-serif;
	background: black;
	color:white;
	font-size:1.4vw;
}
p{
	margin:0;
}

h2{
	font-size:1.4vw;
	color: white;
	text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-weight: normal;
	font-family: 'NeueHaasGroteskText Pro';
}

h1{
	font-size: 2.7vw;
	color: #FFF;
	font-family: 'NeueHaasGroteskText Pro Md';
}

a:link, a:active, a:focus, a:hover{
	color:inherit;
}
.scroll-nav button.off{
	pointer-events: none;
	opacity: 0.5;
}
.scroll-nav button{
	display: block;
	background:none;
	border:none;
	cursor: pointer;
}
.scroll-nav button svg{
	width: 2vw;
}
.scroll-nav{
	position:fixed;
	bottom:1vw;
	right:1vw;
	z-index: 2;
}
/* slider */
input[type="range"]{
  -webkit-appearance: none;
  width: 100%;
  height: 0.3vw;
  background: #000;
  outline: none !important;
  appearance:none;
  margin: 3vw 0 2vw;
  border:0.1vw solid #fff;
  border-radius:0.1vw;
}
#section11 .caption{
	margin-top:3vw;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]:hover {
  outline:none;
}

/* Chrome */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:0.6vw;
  height: 2vw;
  top:-0.05vw;
  position: relative;
  background: #fff;
  border: 0vw solid #000;
  cursor: pointer;
  border-radius:0.2vw;
  outline:none;
}

/* Moz */

input[type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #FFF;
  cursor: pointer;
  border-radius:0;
  border:none;
  outline:none;
}
input[type="range"]::-moz-range-progress {
  background-color: #FFF;
  height: 100%;
  border-radius:30px;
  border:none;
}
input[type="range"]::-moz-range-track {  
  background-color: #FFF;
  border-radius:30px;
  border:none;
  height: 100%;
}

/* IE*/

input[type="range"]::-ms-fill-lower {
  background-color: #FFF;
  height: 100%;
  border-radius:30px;
  border:none;
}
input[type="range"]::-ms-fill-upper {  
  background-color: #FFF;
  border-radius:30px;
  border:none;
  height: 100%;
}

p{
	background: transparent;
	padding:25px;
	border-radius: 0px;
}
#move-up{
	transform: scaleY(-1);
	top:-1vw;
	position: relative;
}
@-webkit-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@-o-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.scroll-nav{
  transition:0.2s;
}
.scroll-nav:hover{
	transform: scale(1.3);
}


nav{
	position:fixed;
	top:0.5vw;
	left:0.5vw;
	z-index: 2;
}
nav a{
	padding:5px 10px;
}
nav a svg{
	width: 2vw;
	position: relative;
	top:10px;
}
.btn--back{
	position: fixed;
	top:0;
	right:0;
}
/*.section:nth-child(odd){
	background: green;
}*/
.btn, a.btn {
	text-align: left;
	display: inline-block;
	text-decoration:none;
	background: black;
	border-radius: 0vw;
	font-size: 1.4vw;
	position: relative;
	font-family: 'NeueHaasGroteskText Pro Md';
	padding:10px 30px;
	border: 0.1vw solid #FFF;
	color: #FFF;
	cursor: pointer;
	transition:0.1s;
}
.btn--wrapper{
	z-index: 1;
	width: 90%;
	display: inline-block;
	position: relative;
	margin-top: 2em;
}
.btn:before{
	position: absolute;
	display: block;
	content:"";
	border-radius: 0vw;
	width:100%;
	left:0.1vw;
	z-index: -1;
	top:0.1vw;
	transition:0s;
	height:100%;
	background: rgba(255,255,255,1);
	border: 0.2vw solid black;
}

.btn:hover, .btn:active, .btn:focus {
   left:0.25vw;
   top:0.25vw;
   /*background: #FFF;
   color:black;*/
}
.btn:hover:before {
   left:-1px;
   top:-1px;

	
}
video.top{
	position: relative;
	top:-10vh;

}
video.full{
	position: absolute;
	left:0;
	top:0;
}
section{
  max-height:100vh;
  overflow: visible;
  position: relative;
  padding:0 50px;
}
section.full{
	padding:0;
}

.half-block{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.half-block p, .half-block h1, .half-block h2{
	margin:0 50px;
}
p{
	padding:0;
}
img{
	width: 100%;
}
video{
	width: 100%;
}
video.small, img.small{
	width: 70vw;
	vertical-align: top;
}
nav svg, .scroll-nav{
	background: rgba(0,0,0,0.5);
	padding: 10px 15px;
	border-radius: 5px;
}
.scroll-nav{
	padding-top:25px;
}
.tri-block{
	padding:25px;
	border-radius: 0px;
	position:absolute;
	top:50px;
	left:100px;
	width: 40%;
	z-index: 1;
	background: rgba(0,0,0,0.7);
}
.nudge-top{
	position: relative;
	top:-50px;
}
.caption{
	color:#FFF;
	display: block;
	text-align:center;
	font-size:1.2vw;
}
.interactive{
/*	border:0.1vw solid #FFF;*/
	border-radius:0px;
	cursor: pointer;
}
.nav-title{
	z-index: 2;
	color:#FFF;
	font-size:1.2vw;
	position:fixed;
	top:0;
	left:0;
/*	background: black;*/
	display: inline-block;
	padding:15px;
}
.tri-block.bottom{
	top:auto;
	bottom:20vh;
	right:150px;
	left:auto;
}
#section1 .tri-block.bottom{
	right:5vw;
	bottom:29vh;
	text-transform: none;
}
#section1 .tri-block.bottom h1{
	text-transform: none;
}
.diagram{
	display: block;
	margin:0 auto;
	width: 50%;
	margin-top:1em;
}
.reptile{
	width: 140px;
	position:fixed;
	bottom:50px;
	right:70px;
}
#section2 .half-block p{
	padding:30px;
	background: rgba(0,0,0,0.8);
}
#section7 .flex-block div:first-child{
	width: 65%;
}
#section7 .tri-block.bottom{
	bottom:8vh;
	left:25vw;
	right:0;
}
#section7 .flex-block div{
	vertical-align: top;
align-self: top;
}
#section7 .flex-block div:last-child{
	width: 28%;
}
.flex-block{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flex-block div{
	display: inline-block;
	width: 45%;
}
#section5 .flex-block, #section5 .flex-block div{
	vertical-align: bottom;
}
#section5 .flex-block > div:nth-child(2){
	width: 35vw;
	padding-right:5vw;
	height:auto;
	vertical-align: bottom;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align:center;
}
#section5 .flex-block > div:nth-child(2) img{
	width: 70%;
	display: block;
    margin: 0 auto;
}
#section5 .flex-block > div:nth-child(2){
	text-align:center;
}
#section5 .flex-block > div:nth-child(2) span{
	margin-bottom:2em;

}
#section5 .flex-block > div:nth-child(2) p{
	text-align: left;
}
#section5 .flex-block > div:first-child{
	width: 65vw;
	height:auto;
	vertical-align: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
}
#section5 .flex-block > div:first-child span, #section5 .flex-block > div:nth-child(2) span{
	margin-top:1vw;
}
#section6 span{
	text-align:center;
	display: block;
	margin-top:1vw;
}
#section6 .slide-up{
	width: 60%;
	bottom:15vh;
	position: absolute;
}
#section6 .flex-block{
	position: relative;
	width: calc(100%);
	top:-10vh;
}
#section4 .diagram{
	width: 80%;
}
#section4 .half-block{
	vertical-align: top;
}
#section5 .flex-block{
	position:relative;
	bottom:0vh;
}
.tri-block.left{
 right: auto;
 left:5vw;
}
/*#section5 .flex-block img{
	width: 25vw;
	width:auto;
}*/
.flex-block video, .flex-block img{
/*	width: auto;
	width: 45%;
	display: inline-block;*/
}
.center-block{
	padding:25px;
	border-radius: 0px;
	position:absolute;
	top:50%;
	left:50%;
	width: 60%;
	transform:translate(-50%, -50%);
	background: rgba(0,0,0,0.8);
}

/* homepage */

.hp-img{
	height: calc(25vh - 6px);
	width: calc(100% - 50px);
	margin-left:50px;
	margin-bottom:10px;
	background-size:100%;
	background-position:center center;
}
.hp-large:nth-child(7) .hp-img{
	margin-bottom:0;
}
.hp-large .btn {
	margin-left:50px;
	max-width: calc(100% - 150px);
}
.hp-large{
	vertical-align: middle;
	width: 60%;
	padding: 0 50px;
	padding-left:25px;
	display: inline-block;
}
.hp-small{
	vertical-align: middle;
	width: calc(33% - 3.5vw);
    margin-left: 3.5vw;
	display: inline-block;
}
#section2{
	background: url('assets/hyundai/post_it.jpg');
	background-size:cover;
}
/*
.ibg{
	position:absolute;
	left:0;
	top:0;
	opacity: 0.7;
	z-index: -1;
	height: auto;
}*/

.i1, .i2, .i3, .i4{
	position:absolute;
	max-width: 28%;
	z-index: 0;
}

.i1{
	top:20px;
	left:1%;
}
.i2{
	top:30vh;
	left:30%;
}
.i3{
	bottom:20px;
	left:8%;
}
.i4{
	bottom:-10vh;
	right:20%;
}
.long1{
	position: absolute;
	height: 100vh;
}
/* EFFECTs */
/* floating images */
@-webkit-keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1;}
  100% { opacity:1; }
}
@-o-keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1; }
  100% { opacity:1; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0;}
  100% { opacity:0; }
}
@-o-keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0; }
  100% { opacity:0; }
}





/* floating images */
@-webkit-keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}
@-moz-keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}
@-o-keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}
@keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}

@-webkit-keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;   }
}
@-moz-keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;   }
}
@-o-keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;   }
}
@keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;  }
}
#behind-text{
	z-index: -1;
}
section.active .fade-in{
   animation: fadeIn 3s ease-in-out 0.2s forwards;
}
section.active .fade-in.slow{
	animation: fadeIn 3s ease-in-out 1s forwards;
}
section.active .fade-in.slower{
	animation: fadeIn 3s ease-in-out 2s forwards;
}
section.active .slowest{
	animation: fadeIn 3s ease-in-out 3s forwards;
}
section.active .slowestest{
	animation: fadeIn 3s ease-in-out 4s forwards;
}
.fade-in{
	transition:2s;
	opacity:0;
	animation: fadeOut 2s ease-in-out 0s forwards;
}


section.active .slide-up{

   animation: slideUp 0.7s ease-in-out 0s forwards;
}
section.active .slide-up.slow{
	animation: slideUp 0.7s ease-in-out 1s forwards;
}
section.active .slide-up.slower{
	animation: slideUp 0.7s ease-in-out 2s forwards;
}
.slide-up{
	transition:2s;
	opacity:0;
	animation: slideDown 1s ease-in-out 0s forwards;
}
/* END EFFECTs */

.half-block{
	position:relative;
}
.half-block p{
	padding-right: 5vw;
}
#lattice-slider2{
	z-index: 2;
	position: absolute;
	width: 45vh;
	right:0;
	top:0;
	transform-origin: right;
    transform: translateY(-5vh) rotate(-90deg);
}
#lattice3{
	margin-right: 50px;
    width: calc(100% - 50px);
}