/* PURPLE: #9775E1 */
/* PURPLE SHADOW: #7A55CB */


@font-face {
    font-family: 'NeueHaasGroteskText Pro Md';
    src: url('fonts/NHaasGroteskTXPro-65Md.woff2') format('woff2'),
        url('fonts/NHaasGroteskTXPro-65Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: url('fonts/NHaasGroteskTXPro-75Bd.woff2') format('woff2'),
        url('fonts/NHaasGroteskTXPro-75Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGroteskText Roman';
    src: url('fonts/NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
        url('fonts/NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* TYPE SIZES */
/*
	100px
	72px
	54px
*/
/* global margin: 100px
   button margin top: 50px; 
   text half-block margin: 0 50px;
   block margin: 50px;
*/
@-webkit-keyframes walk {
  0%   { right:-300px;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-300px;transform:scaleX(1); }
}
@-moz-keyframes walk {
  0%   { right:-300px;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-300px;transform:scaleX(1); }
}
@-o-keyframes walk {
    0%   { right:-300px;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-300px;transform:scaleX(1); }
}
@keyframes walk {
  0%   { right:-300px;transform:scaleX(1); }
   49% {transform:scaleX(1);}
  50%   { right:100vw;transform:scaleX(-1); }
  99% {transform:scaleX(-1);}
  100% { right:-300px;transform:scaleX(1); }
}
.animals img{
	height: 140px;
	display: inline-block;
	z-index: 1;
	pointer-events: none;
	width: auto;
	position: absolute;
	bottom:0;
	right: -300px;
}
.active .animals img:first-child{
	animation: walk 50s ease-in-out 0s infinite;
}
.active .animals img:last-child{
	animation: walk 30s ease-in-out 5s infinite;
}

body{
	position: relative;
	margin:0;
	letter-spacing: 0.05em;
	line-height: 1.2;
	font-family: 'NeueHaasGroteskText Roman', sans-serif;
	background: black;
	color:white;
	font-size:1.2vw;
}
p{
	margin:0;
}

h2{
	font-size:1.4vw;
	color: white;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'NeueHaasGroteskText Pro';
}

h1{
	font-size: 2.7vw;
	color: #9775E1;
	font-family: 'NeueHaasGroteskText Pro Md';
}

a:link, a:active, a:focus, a:hover{
	color:inherit;
}
.scroll-nav button.off{
	pointer-events: none;
	opacity: 0.5;
}
.scroll-nav button{
	display: block;
	background:none;
	border:none;
	cursor: pointer;
}
.scroll-nav button svg{
	width: 50px;
}
.scroll-nav{
	position:fixed;
	bottom:1vw;
	right:1vw;
	z-index: 2;
}
/* slider */
input[type="range"]{
  -webkit-appearance: none;
  width: 100%;
  height: 0.2vw;
  background: #9775E1;
  outline: none !important;
  appearance:none;
  margin: 3vw 0 2vw;
  border:none;
  border-radius:30px;
}
input[type="range"]::-moz-focus-outer {
    border: 0;
}
input[type="range"]:hover {
  outline:none;
}

/* Chrome */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2vw;
  height: 2.2vw;
  background: black;
  border: 0.2vw solid #9775E1;
  cursor: pointer;
  border-radius:30px;
  outline:none;
}

/* Moz */

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #9775E1;
  cursor: pointer;
  border-radius:50%;
  border:none;
  outline:none;
}
input[type="range"]::-moz-range-progress {
  background-color: #9775E1;
    height: 100%;
  border-radius:30px;
  border:none;
}
input[type="range"]::-moz-range-track {  
  background-color: #9775E1;
  border-radius:30px;
  border:none;
    height: 100%;
}

/* IE*/

input[type="range"]::-ms-fill-lower {
  background-color: #9775E1;
    height: 100%;
  border-radius:30px;
  border:none;
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9775E1;
  border-radius:30px;
  border:none;
    height: 100%;
}

p{
	background: black;
	padding:25px;
	border-radius: 5px;
}
#move-up{
	transform: rotate(180deg);
}
@-webkit-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@-o-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.scroll-nav{
  transition:0.2s;
}
.scroll-nav:hover{
	transform: scale(1.3);
}


nav{
	position:fixed;
	top:1vw;
	right:1vw;
	z-index: 2;
}
.btn--back{
	position: fixed;
	top:0;
	right:0;
}
/*.section:nth-child(odd){
	background: green;
}*/
.btn, a.btn {
	text-align: left;
	display: inline-block;
	text-decoration:none;
	background: black;
	border-radius: 0.5vw;
	font-size: 1.4vw;
	position: relative;
	font-family: 'NeueHaasGroteskText Pro';
	padding:5px 20px;
	border: 0.2vw solid #9775E1;
	color: #9775E1;
	cursor: pointer;
	transition:0.1s;
}
.btn--wrapper{
	z-index: 1;
	width: 90%;
	display: inline-block;
	position: relative;
	margin-top: 2em;
}
.btn:before{
	position: absolute;
	display: block;
	content:"";
	border-radius: 0.5vw;
	width:100%;
	left:0.2vw;
	z-index: -1;
	top:0.2vw;
	transition:0s;
	height:100%;
	background: black;
	border: 0.2vw solid #7A55CB;
}

.btn:hover, .btn:active, .btn:focus {
   left:0.25vw;
   top:0.25vw;
   /*background: #9775E1;
   color:black;*/
}
.btn:hover:before {
   left:-1px;
   top:-1px;

	
}
video.full{
	position: absolute;
	left:0;
	top:0;
}
section{
  max-height:100vh;
  overflow: visible;
  position: relative;
  padding:0 50px;
}
section.full{
	padding:0;
}

.half-block{
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}
.half-block p, .half-block h1, .half-block h2{
	margin:0 50px;
}
p{
	padding:0;
}
img{
	width: 100%;
}
video{
	width: 100%;
}
video.small, img.small{
	width: 70vw;
	vertical-align: top;
}
.tri-block{
	padding:25px;
	border-radius: 5px;
	position:absolute;
	top:50px;
	left:100px;
	width: 40%;
	z-index: 1;
	background: rgba(0,0,0,0.99);
}
.nudge-top{
	position: relative;
	top:-50px;
}
.caption{
	color:#9775E1;
	display: block;
	text-align:center;
	font-size:1.2vw;
}
.interactive{
	border:2px solid #9775E1;
	border-radius:5px;
	cursor: pointer;
}
.nav-title{
	z-index: 2;
	color:#9775E1;
	font-size:1.2vw;
	position:fixed;
	top:0;
	left:0;
/*	background: black;*/
	display: inline-block;
	padding:15px;
}
.tri-block.bottom{
	top:auto;
	bottom:100px;
	right:150px;
	left:auto;
}
#section1 .tri-block.bottom{
	right:0;
	bottom:29vh;
}
.diagram{
	display: block;
	margin:0 auto;
	width: 30%;
	margin-top:1em;
}
.reptile{
	width: 140px;
	position:fixed;
	bottom:50px;
	right:70px;
}
.center-block{
	padding:25px;
	border-radius: 5px;
	position:absolute;
	top:50%;
	left:50%;
	width: 60%;
	transform:translate(-50%, -50%);
	background: rgba(0,0,0,0.8);
}

/* homepage */

.hp-img{
	height: calc(25vh - 6px);
	width: calc(100% - 50px);
	margin-left:50px;
	margin-bottom:10px;
	background-size:120%;
	background-position:center center;
}
.hp-large:nth-child(7) .hp-img{
	margin-bottom:0;
}
.hp-large .btn {
	margin-left:50px;
	max-width: calc(100% - 150px);
}
.hp-large{
	vertical-align: middle;
	width: 60%;
	padding: 0 50px;
	padding-left:25px;
	display: inline-block;
}
.hp-small{
	vertical-align: middle;
	width: calc(33% - 3.5vw);
    margin-left: 3.5vw;
	display: inline-block;
}


.i1, .i2, .i3{
	position:absolute;
	max-width: 33%;
	z-index: -1;
}

.i1{
	top:20px;
}
.i2{
	top:30vh;
	left:30%;
}
.i3{
	bottom:20px;
	left:15%;
}
.long1{
	position: absolute;
	height: 100vh;
}
/* EFFECTs */
/* floating images */
@-webkit-keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1;}
  100% { opacity:1; }
}
@-o-keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0%   { opacity:0; }
  50%   { opacity:1; }
  100% { opacity:1; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0;}
  100% { opacity:0; }
}
@-o-keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0%   { opacity:1; }
  50%   { opacity:0; }
  100% { opacity:0; }
}





/* floating images */
@-webkit-keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}
@-moz-keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}
@-o-keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}
@keyframes slideUp {
  0%   { transform: translateY(100px);opacity:0; }
  100% { transform: translateY(0px);opacity:1;  }
}

@-webkit-keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;   }
}
@-moz-keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;   }
}
@-o-keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;   }
}
@keyframes slideDown {
  0%   { transform: translateY(0);opacity:1; }
  20% {opacity:0;}
  100% { transform: translateY(100px);opacity:0;  }
}

section.active .fade-in{
   animation: fadeIn 2s ease-in-out 0s forwards;
}
section.active .fade-in.slow{
	animation: fadeIn 2s ease-in-out 1s forwards;
}
section.active .fade-in.slower{
	animation: fadeIn 2s ease-in-out 2s forwards;
}
.fade-in{
	transition:2s;
	opacity:0;
	animation: fadeOut 2s ease-in-out 0s forwards;
}

section.active .slide-up{
   animation: slideUp 0.7s ease-in-out 0s forwards;
}
section.active .slide-up.slow{
	animation: slideUp 0.7s ease-in-out 1s forwards;
}
section.active .slide-up.slower{
	animation: slideUp 0.7s ease-in-out 2s forwards;
}
.slide-up{
	transition:2s;
	opacity:0;
	animation: slideDown 0.7s ease-in-out 0s forwards;
}
/* END EFFECTs */

.half-block{
	position:relative;
}
#lattice-slider2{
	z-index: 2;
	position: absolute;
	width: 40vh;
	right:0;
	top:0;
	transform-origin: right;
    transform: translateY(35vh) rotate(90deg);
}
#lattice2{
	margin-right: 50px;
    width: calc(100% - 50px);
}